

*, ::after, ::before {
    box-sizing: border-box;
   
}
body{
    margin: 0;
    padding:0;
    line-height: 1.5;
    overflow-x: hidden;
    background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    
}
header{
    display:block;
}

/* .header-area .main-header-area.style{
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 990;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    background: #311E25;
} */
.header-area{
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    position: absolute;

}
.main-header-area{
    padding: 20px 20px;
    background: transparent;
}
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.align-items-center{
    -webkit-box-align: center!important;
    align-items: center!important;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: -webkit-box;
    
}
.logo-wrapper{
    -webkit-box-flex: 0;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
    max-width: 25%;
}
a, button {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
    text-decoration: none;
  }
  /* a:focus,
  a:hover,
  .portfolio-cat a:hover,
  .footer -menu li a:hover {
    text-decoration: none;
  }   */
img{
    vertical-align: middle;
    border-style: none;
}
.link-container{
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    /* max-width: 50%; */
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.header-area .main-header-area .link-wrapper{
    text-align: center;
    padding: 12px 0;
    display: block!important;

}
ul{
    margin: 0px;
    padding: 0px;
}
.header-area .main-header-area .link-wrapper ul li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
}
li {
    list-style-type:none;
}
.header-area .main-header-area .link-wrapper ul li:first-child a {
    padding-left: 0;
}
.header-area .main-header-area .link-wrapper ul li a {
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    color: #111010ec;
    font-weight: 500;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-transform: capitalize;  
}
.side-btn{
    display: block!important;
    padding-right: 15px;
    padding-left: 15px;
}
.header-area .main-header-area .appointment{
    align-items: center;
    justify-content: flex-end;
    display: -webkit-flex;
    
}
.header-area .main-header-area .appointment .btn{
    display: block!important;
    margin-left: 0;
}
.header-area .main-header-area .appointment .btn a {
    background: transparent;
    font-family: "Roboto", sans-serif;
    padding: 14px 49px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #DB9A64;
    color: #e6c7ad;
    border-radius: 0px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    
}


/* Header css ends here  */

.slider-area {
    position: relative;
    z-index: 0;
}

.slider-area .single-slider {
    background-image:url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:685px;
    
}
.container-1 {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.align-items-center-1 {
    -webkit-box-align: center!important;
    position: relative!important;
    align-items: center!important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.wrapper-slider{
    -webkit-box-flex: 0;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}



.slider-area .single-slider .slider-text {

    padding: 303px 0;
}
.slider-area .single-slider .slider-text h3 {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 90px;
    color: #fff;
    margin-bottom: 55px;
    margin-top: 0;
}
.slider-area .single-slider .slider-text h3 span {
    color:#e31d12;
}
.boxed-btn {
    color: #DB9A64 !important;
    display: inline-block;
    padding: 17px 49px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #DB9A64;
    border-radius: 0px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    cursor: pointer;
}
.slider-area .single-slider .my-img {
    position:absolute;
    display: block!important;
    right: 0;
    /* bottom: 0; */
}

/* Slider css ends her */

/* contact page css starts here */
/* contact header */
.contact-area {
    background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center center;
    padding: 204px 0 193px 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.contact-area .container-1 {
    max-width: 1140;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contact-area .container-1 .row-1 {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}

.contact-area .container-1 .row-1 .wrapper-slider {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-area .container-1 .row-1 .wrapper-slider .center-text {
    text-align: center!important;
}

.contact-area h3 {
    font-size: 80px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 0;
    text-transform: capitalize;
}
/* contact header end */

/* contact form sections */

.contact-body{
    background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.contact-section{
    display: block;
    padding: 70px 0 40px;
}
.abc{
    border-radius: 30px;
    border-style: solid ;
    width:1007px;
    height:557px;

}
.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.second-container {
    padding-bottom: 1.5rem!important;
    margin-bottom: 3rem!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
}

 .contact-column-1{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%; 
    max-width: 100%;
    
}

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;    
    line-height: 1.2em;
    margin-top: 0;
}
.contact-column-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}


/* form{
    display: block;
    margin-top: 0em;
} */
.form-contact .form-group{
    margin-bottom: 30px;
}

.form-contact .control-form {
    border: 1px solid #000000;
    border-radius: 0px;
    /* height: 48px; */
    padding-left: 18px;
    font-size: 15px;
    background: transparent;
}
.form-contact textarea{
    height:100% !important; 
    width: 100%!important;
 }
 textarea{
    margin: 0;
    font-family: inherit;
    overflow: auto;
    resize: vertical;
 }

input{
    margin: 0;
    font-family: inherit;
    overflow: visible;
}


 /* .form-contact {
    padding: 0.375rem 0.75rem;
    display: block;
    line-height: 1.5;
    color: #495057;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 } */

 .contact-colunm-3 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

 }
 .control-form{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #000000;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-group-button{
    margin-bottom: 30px;
    margin-top: 1rem!important;
}
.button-box{
    background: #fff;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #DB9A64;
    letter-spacing: 3px;
    text-align: center;
    color: #DB9A64 !important;
    text-transform: uppercase;
    cursor: pointer;
}

/* contact page css ends here */



/* footer css starts here */
.footer{
    font-family: "Roboto", sans-serif !important;
    max-width: 1920px;
    margin: 0 auto;
    
}
/* .footer-top{
    background-color: #222222;
    
} */
.footer .footer-top .row img{
    margin-left: 40%;
    max-height: 60px;
}

.footer .footer-top  h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    padding-left: 50px;
}
.footer .footer-top h3 a{
    color: #DB9A64;
   display:inline-block;
}
.footer .footer-top  p {
    font-size: 16px;
    line-height: 28px;
    color: #00ff0d;
    font-weight: 300;
    padding-left:50px;
    font-family: "Roboto", sans-serif !important;

 }


